/* Mobile menu overlay start */
.menu-overlay {
    opacity: 0;
    background-color: transparent;

    @include vendor-prefix(transition, all 1s ease-in-out);
}

.mobile-menu-open {
    position: fixed;
    width: 100%;

    .menu-overlay {
        position: absolute;
        opacity: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $black-bg-primary;
        z-index: 98;
    }
}
/* Mobile menu overlay end */