/* Cards */

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 -15px;
    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }
}

.card {
    text-align: center;
    align-items: center;
    padding: 0 15px;
    border: 0;
}

.card-img-top {
    width: 110px;
    height: 105px;
    margin-bottom: 10px;
}