/* Bootstrap tabs */

.nav-tabs {
    border-color: $grey-200;
    margin-bottom: 25px;
    h4 {
        font-weight: $font-weight-bold;
    }
    .nav-link {
        position: relative;
        padding: 0 0 10px 0;
        margin-right: 30px;
        border: 0;
        &:hover,
        &.active {
            &::after {
                content: "";
                position: absolute;
                width: 96%;
                height: 4px;
                bottom: 0;
                left: 0;
                background-color: $green;
            }
        }
    }
}