/* BUTTONS */

.btn-custom {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    @include font-size(16px);
    line-height: 1.2;
    min-width: 142px;
    min-height: 40px;
    padding: 8px 20px;
    color: $blue !important;
    background-color: $white;
    border: 1px solid $blue;
    cursor: pointer;
    outline: 0 !important;
    @include vendor-prefix(border-radius, 24px);
    @include vendor-prefix(transition, all .3s linear);
    @include media-breakpoint-up(sm) {
        padding: 8px 22px;
    }
    &:hover,
    &:focus {
        color: $white !important;
        background-color: $blue;
    }
}