/* Base Stylings like ul, p, body, etc */

body, html {
    @include font-size($font-size-para);
}

body{
    font-family: $montserrat;
    color: $primary;
    line-height: 1.4;
    overflow-x: hidden;
}

p {
    @include font-size($font-size-para);
    line-height: 24px;
    color: $primary;
}

a {
    color: $primary;
    text-decoration: none;
    @include vendor-prefix(transition, all 0.2s ease-out);
    &:hover {
        color: $green !important;
        text-decoration: none;
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.container {
    max-width: 100%;
    padding: 0 20px;
    @include media-breakpoint-up(lg) {
        max-width: 1013px;
    }
}

.container-wrapper {
    padding: 40px 0;
    @include media-breakpoint-up(lg) {
        max-width: 1300px;
        margin: auto;
    }
}