/* HELPERS */

.text-weight-regular {
    font-weight: $font-weight-regular !important;;
}

.text-weight-light {
    font-weight: $font-weight-light !important;
}

.mb-lg-45 {
    @include media-breakpoint-up(lg) {
        margin-bottom: 45px !important;
    }
}

.mb-lg-50 {
    @include media-breakpoint-up(lg) {
        margin-bottom: 50px !important;
    }
}