/* Font Families */
$montserrat: 'Montserrat' , sans-serif;

/* fonts to be used by the entire site */
$font-primary : $montserrat;

/* Colors */
$primary                :       #192631;
$secondary              :       #303030;
$green                  :       #84cb08;
$blue                   :       #2e79b8;
$white                  :       #fff;
$black                  :       #000;
$black-bg               :       rgba($black, 0.3);
$grey-primary           :       #777;
$grey-secondary         :       #fcfcfc;
$grey-tertiary          :       #b8b8b8;

/* Base font size */
$font-size-base: 14px;

/* Paragraphs font size */
$font-size-para: 16px; 

/* Font Weight */
$font-weight-light: 300;        /*$light*/
$font-weight-regular: 400;      /*$regular*/
$font-weight-medium: 500;       /*$medium*/
$font-weight-semibold: 600;     /*$semibold*/
$font-weight-bold: 700;         /*bold*/