/* This stylesheet is the main stylesheet. 
It is used only for importing partial sass files.
DO NOT WRITE ANY CSS STYLINGS HERE */
/* Vendors */
/* Import all Vendor Specific Files */
/* Default base files */
/* Import all Base Files */
/* Font Families */
/* fonts to be used by the entire site */
/* Colors */
/* Base font size */
/* Paragraphs font size */
/* Font Weight */
/*$light*/
/*$regular*/
/*$medium*/
/*$semibold*/
/*bold*/
/* Mixin for font size */
/* Mixin for vendor prefixes */
/* Base Stylings like ul, p, body, etc */
body, html {
  font-size: 16px;
  font-size: 1rem;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #192631;
  line-height: 1.4;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  color: #192631;
}

a {
  color: #192631;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a:hover {
  color: #84cb08 !important;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 100%;
  padding: 0 20px;
}

@media (min-width: 992px) {
  .container {
    max-width: 1013px;
  }
}

.container-wrapper {
  padding: 40px 0;
}

@media (min-width: 992px) {
  .container-wrapper {
    max-width: 1300px;
    margin: auto;
  }
}

/* HELPERS */
.text-weight-regular {
  font-weight: 400 !important;
}

.text-weight-light {
  font-weight: 300 !important;
}

@media (min-width: 992px) {
  .mb-lg-45 {
    margin-bottom: 45px !important;
  }
}

@media (min-width: 992px) {
  .mb-lg-50 {
    margin-bottom: 50px !important;
  }
}

/* FORM ELEMENTS */
.custom-input {
  position: relative;
  width: 260px;
  height: 44px;
}

@media (min-width: 576px) {
  .custom-input {
    width: 410px;
    height: 56px;
  }
}

.custom-input input {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: 300;
  color: #777;
  background-color: #fcfcfc;
  padding: 12px 60px 12px 20px;
  border: 1px solid #b8b8b8;
  text-overflow: ellipsis;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  border-radius: 28px;
}

@media (min-width: 576px) {
  .custom-input input {
    font-size: 17px;
    font-size: 1.0625rem;
    padding: 17px 70px 17px 22px;
  }
}

.custom-input input:focus, .custom-input input:hover, .custom-input input:active {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari/Edge */
  color: inherit;
  font-weight: 300;
}

::-moz-placeholder {
  /* Firefox */
  color: inherit;
  font-weight: 300;
  opacity: 1;
}

.search-btn {
  position: absolute;
  width: 48px;
  height: 34px;
  right: 0;
  margin: 5px 6px 0;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  background: url(../../content/images/favicons/icon-plane.svg) #2e79b8 no-repeat center;
}

@media (min-width: 576px) {
  .search-btn {
    width: 61px;
    height: 46px;
  }
}

/* BUTTONS */
.btn-custom {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.2;
  min-width: 142px;
  min-height: 40px;
  padding: 8px 20px;
  color: #2e79b8 !important;
  background-color: #fff;
  border: 1px solid #2e79b8;
  cursor: pointer;
  outline: 0 !important;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (min-width: 576px) {
  .btn-custom {
    padding: 8px 22px;
  }
}

.btn-custom:hover, .btn-custom:focus {
  color: #fff !important;
  background-color: #2e79b8;
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #192631;
}

h1 {
  font-size: 70px;
  font-size: 4.375rem;
}

h2 {
  font-size: 41px;
  font-size: 2.5625rem;
}

h3 {
  font-size: 25px;
  font-size: 1.5625rem;
}

h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
}

/* Import all Layout Files */
/* Header */
/* Mobile menu overlay start */
.menu-overlay {
  opacity: 0;
  background-color: transparent;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.mobile-menu-open {
  position: fixed;
  width: 100%;
}

.mobile-menu-open .menu-overlay {
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 98;
}

/* Mobile menu overlay end */
/* Navigations/Menus */
nav {
  padding: 20px 0 8px !important;
  /* Navbar toggler animation start */
  /* Navbar toggler animation end */
}

@media (min-width: 768px) {
  nav .nav-item {
    padding: 0 12px;
  }
}

nav .nav-link {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  padding-right: 0 !important;
  padding-left: 0 !important;
  color: #303030;
}

@media (max-width: 767.98px) {
  nav .navbar-collapse {
    position: fixed;
    margin-top: 0;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 82%;
    z-index: 99;
    background-color: #fff;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  nav .navbar-collapse.show {
    right: 0;
  }
  nav .navbar-collapse .navbar-nav {
    margin-left: 20px !important;
  }
  nav .navbar-collapse .nav-link {
    padding: 15px 0;
  }
}

@media screen and (max-width: 360px) {
  nav .navbar-collapse {
    width: 90%;
  }
}

nav .navbar-collapse .mob-nav-head {
  margin: 60px 20px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(184, 184, 184, 0.7);
}

nav .navbar-collapse .mob-nav-links {
  font-size: 16px;
  font-size: 1rem;
  color: #303030;
}

@media (min-width: 768px) {
  nav .navbar-collapse {
    align-items: center;
  }
}

nav .navbar-toggler {
  padding: 0;
  margin: 6px 4px 0 0;
  border: 0;
  z-index: 100;
}

nav .navbar-toggler:focus {
  outline: 0;
}

nav .navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-last-of-type(2) {
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .navbar-toggler.collapsed .navbar-toggler-icon:first-child, nav .navbar-toggler.collapsed .navbar-toggler-icon:last-child {
  top: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition-delay: 0s;
}

nav .navbar-toggler .navbar-toggler-icon {
  display: block;
  width: 27px;
  height: 3px;
  background: #303030;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
}

nav .navbar-toggler .navbar-toggler-icon:first-child, nav .navbar-toggler .navbar-toggler-icon:last-child {
  -webkit-transition: all 0.5s ease-in-out 0.5s;
  -moz-transition: all 0.5s ease-in-out 0.5s;
  -ms-transition: all 0.5s ease-in-out 0.5s;
  -o-transition: all 0.5s ease-in-out 0.5s;
  transition: all 0.5s ease-in-out 0.5s;
}

nav .navbar-toggler .navbar-toggler-icon:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 9px;
}

nav .navbar-toggler .navbar-toggler-icon:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -7px;
}

nav .navbar-toggler .navbar-toggler-icon:nth-last-of-type(2) {
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  -moz-transition: all 0.5s ease-in-out 0.2s;
  -ms-transition: all 0.5s ease-in-out 0.2s;
  -o-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
}

/* Footer */
footer p {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 300;
  color: #777;
}

footer .container-wrapper {
  background: linear-gradient(to bottom, #f5f5f5 0%, #fff 100%);
}

@media (max-width: 767.98px) {
  footer .container-wrapper {
    padding-bottom: 20px;
  }
}

@media (min-width: 992px) {
  footer .container-wrapper {
    clip-path: polygon(0% 19%, 100% 0%, 100% 100%, 0% 100%);
    padding: 109px 0 90px;
  }
}

footer .social-icons {
  display: flex;
}

footer .social-icons > a {
  display: inline-block;
  margin: 0 10px 15px 0;
}

footer .footer-links {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  footer .footer-links {
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  footer .footer-links li {
    margin-bottom: 2px;
  }
}

footer .footer-links a {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
}

footer .bottom-waves {
  height: 68px;
  background: url(../../content/images/style-images/wave-green.svg) no-repeat bottom, url(../../content/images/style-images/wave-blue.svg) no-repeat bottom;
}

@media (min-width: 576px) {
  footer .bottom-waves {
    height: 76px;
  }
}

/* Main Content */
/* why onerequest section start */
.why-onerequest {
  background-color: #B4ddff;
  margin-top: -12px;
  /* Sprite image scss start */
  /* Sprite image scss end */
}

@media (min-width: 992px) {
  .why-onerequest {
    clip-path: polygon(0% 12%, 100% 0%, 100% 90%, 0% 100%);
    padding: 11px 0;
    margin-top: -35px;
  }
}

@media (min-width: 1200px) {
  .why-onerequest {
    margin-top: -30px;
  }
}

@media (min-width: 992px) {
  .why-onerequest .container-wrapper {
    padding: 122px 0 117px;
  }
}

.why-onerequest h2 {
  margin-bottom: 25px;
}

@media (max-width: 767.98px) {
  .why-onerequest h2 {
    font-size: 32px;
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .why-onerequest h2 {
    margin-bottom: 50px;
  }
}

.why-onerequest .player-wrapper {
  text-align: center;
  position: relative;
}

.why-onerequest .player-wrapper video {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 576px) {
  .why-onerequest .player-wrapper video {
    height: 280px;
  }
}

@media (min-width: 992px) {
  .why-onerequest .player-wrapper video {
    height: 320px;
  }
}

@media (min-width: 992px) {
  .why-onerequest .player-wrapper video {
    width: 100%;
  }
}

.why-onerequest .content-wrapper {
  text-align: center;
}

@media (min-width: 992px) {
  .why-onerequest .content-wrapper {
    display: flex;
    align-items: flex-start;
    margin-left: 35px;
    text-align: left;
  }
}

.why-onerequest .icons {
  width: 32px;
  height: 36px;
  background: url(../../content/images/content-images/sprite-image-1@2x.png) no-repeat 0 0/cover;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .why-onerequest .icons {
    min-width: 32px;
    margin-right: 16px;
  }
}

.why-onerequest .icons.icon-secure {
  min-width: 36px;
  height: 39px;
}

.why-onerequest .icons.icon-lock {
  background-position-x: -37px;
}

@media (min-width: 992px) {
  .why-onerequest .icons.icon-lock {
    margin-right: 20px;
  }
}

.why-onerequest .icons.icon-umbrella {
  min-width: 40px;
  background-position-x: -70px;
}

@media (min-width: 992px) {
  .why-onerequest .icons.icon-umbrella {
    margin-right: 12px;
  }
}

.why-onerequest .content {
  margin-top: 10px;
}

@media (min-width: 992px) {
  .why-onerequest .content {
    margin: 8px 9px 0 0;
  }
}

.why-onerequest .content p {
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.2;
}

/* why onerequest section end */
/* buyer and seller section start */
.tab-section {
  padding: 40px 0;
}

@media (min-width: 992px) {
  .tab-section {
    padding: 60px 0;
  }
}

.tab-section .direction-arrow {
  min-width: 10px;
  background: url(../../content/images/favicons/icon-arrow-right.svg) no-repeat center/auto;
  height: 50px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media (min-width: 992px) {
  .tab-section .direction-arrow {
    height: 80px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.tab-section span {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 300;
  max-width: 174px;
  line-height: 1.2;
}

/* buyer and seller section end */
/* All Modules get imported here */
/* Banner Css */
@media (min-width: 768px) {
  .page-banner {
    min-height: 479px;
    background: url(../../content/images/content-images/banner-car.jpg) no-repeat right center/contain;
  }
}

@media (min-width: 992px) {
  .page-banner {
    background-position: right -10px top -5px;
    background-size: 82%;
  }
}

@media (min-width: 1200px) {
  .page-banner {
    background-size: 67%;
  }
}

@media only screen and (min-width: 1600px) {
  .page-banner {
    background-size: 57%;
  }
}

.page-banner h1 {
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 1.17;
}

@media (max-width: 767.98px) {
  .page-banner h1 {
    font-size: 58px;
    font-size: 3.625rem;
  }
}

.page-banner p {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 1.2;
  margin-bottom: 40px;
}

@media (max-width: 767.98px) {
  .page-banner p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.page-banner .banner-content {
  padding: 65px 0 77px;
  align-items: center;
}

@media (min-width: 768px) {
  .page-banner .banner-content {
    max-width: 645px;
    align-items: flex-start;
    padding: 82px 0 0;
  }
}

/* Cards */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 -15px;
}

@media (min-width: 992px) {
  .card-container {
    flex-direction: row;
  }
}

.card {
  text-align: center;
  align-items: center;
  padding: 0 15px;
  border: 0;
  margin-top: 10px;
}

@media (min-width: 992px) {
  .card {
    margin-top: 0;
  }
}

/* Sprite image scss start */
.fill-icons {
  width: 124px;
  height: 96px;
  background: url(../../content/images/content-images/sprite-image-2@2x.png) no-repeat 0 0/cover;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .fill-icons {
    margin-bottom: 15px;
  }
}

.fill-icons.icon-send {
  background-position-x: -132px;
}

.fill-icons.icon-community {
  background-position-x: -252px;
}

.fill-icons.icon-chat {
  background-position: -368px 8px;
}

.fill-icons.icon-car {
  background-position-x: -480px;
  margin-bottom: 15px;
}

/* Sprite image scss end */
/* Bootstrap tabs */
.nav-tabs {
  border-color: #ccc;
  margin-bottom: 25px;
}

.nav-tabs h4 {
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .nav-tabs h4 {
    font-size: 17px;
    font-size: 1.0625rem;
  }
}

@media screen and (max-width: 360px) {
  .nav-tabs h4 {
    font-size: 16px;
    font-size: 1rem;
  }
}

.nav-tabs .nav-link {
  position: relative;
  padding: 0 0 10px 0;
  margin-right: 30px;
  border: 0;
}

.nav-tabs .nav-link:hover::after, .nav-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  width: 96%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #84cb08;
}

@media (max-width: 767.98px) {
  .tab-content h3 {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

/* Other Specific Files */
/*# sourceMappingURL=styles.css.map */